<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<form method="POST">
    {% csrf_token %}
    <h1>Please enter code from sms message</h1>
    <input name="phone" type="text">
    <br>
    <span style="color:red;">{% if error %} {{ error }} {% endif %}</span>
    <br>
    <br>
    <input name="referral_code" type="text">
    <br>
    <span style="color:red;">{% if error_code %} {{ error_code }} {% endif %}</span>
        <br>
    <button type="submit">Sumbit</button>


</form>
</body>
</html>